/* style.css */

/* Style for the input field */
.spam-input{
    width: 300px;
    height: 40px;
    padding: 30px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px; 
}


.btn {
    padding: 10px 20px;
    font-size: 16px; /* Set the font size */
    border: none;
    background-color: #007bff; /* Button color */
    color: white; /* Text color */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer;
}

/* Style for the button on hover */
.btn:hover {
    background-color: #0056b3; /* Darker button color on hover */
}
